/* Importa a fonte Quattrocento Sans do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento Sans';
}

/* Estilos do documento HTML */
html {
    background-color: rgba(54, 105, 172, 0.5);
    height: 100vh;
}

/* Estilos do container */
.container {
    max-width: 1280px;
    margin: auto;
}

/* Layout flexível  do menu e logo*/
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos do cabeçalho */
header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem {
    background-color: #500050;
    padding: 20px 4%;
}

header.rolagem a {
    color: #6698e2;
}

header.rolagem button {
    background-color: #000;
    color: #6698e2;
}

/* Estilos da lista no cabeçalho/menu */
header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    transform: scale(1.1);
}

/* Estilos do banner/imagem de fundo */
.banner {
    color: #fffc;
    height: 130vh;
    background-image: url(imagens/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

.banner h1 {
    font-size: 2em;
}

.banner h1 span {
    color: #800080;
}

/*Estilos da seção Sobre Mim*/
.sobre {
    text-align: justify;
    margin: 180px 20px 10px 20px;
    padding: 20px;
}

.banner h2 {
    text-align: left;
    color: #1965d8;
}

/* Estilos da seção de links */
.links {
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 180px 20px 10px 20px;
    padding: 20px;
}

button{
    padding: 5px;
    background-color: #800080;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #0000FF;
}

/* Estilos do rodapé */
footer {
    background-color: #1965d8;
    padding: 10px;
    text-align: center;
}

.rodape {
    font-size: small;
    margin-bottom: 15px;
}

/* Estilos das redes sociais */
.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais a {
    text-decoration: none;
    margin: 0 10px;
}

.redes-sociais img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

/* Estilos do formulário de contato */
.form-container form{
    background-color: #fff;
    color: #500050;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 180px 40px 20px 40px;
    padding: 20px;
}


.form-container form label,
.form-container form input,
.form-container form textarea {
    margin-top: 5px;
}

.form-container form input[type="text"],
.form-container form input[type="email"],
.form-container form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form input[type="submit"] {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.form-container form input[type="submit"]:hover {
    background-color: #6698e2;
}